subject [% subject %]

[% FOREACH o = owner -%]
owner
email [% o.email %]

[% IF visibility %]
visibility [% visibility %]
[% END %]

[% IF review %]
review [% review %]
[% END %]

[% IF custom_subject %]
custom_subject [% custom_subject %]
[% END %]

[% END -%]

